<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjsxt.mapper.MenuMapper">

    <resultMap type="menu" id="myMenu">
    <id property="id" column="id"/>
    <collection property="list" select="com.bjsxt.mapper.MenuMapper.selectByPid" column="id"></collection>
    </resultMap>
	<select id="selectByPid" parameterType="int" resultMap="myMenu">
	select * from menu where pid =#{0}
	</select>
	
	
	
</mapper>
